# Git
.git
.gitignore

# Docker
.docker

# Python
# dockerignore file doesn't allow for things like using * to refer to all files
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/